{% extends 'old_site/second_base.html' %}


{% block content %}
<div class="text-center">
	<div class="jonathan">
		<div class ="jumbotron" style="height:300px">
			<p class="other-header">about</p>
		</div>	
	</div>
</div>
<div class="my-body">
	<div class="container">
		<div class="text-center">
			<div class="col-md-12">
				<div class="pad-me">
					<img src="/static/css/images/jon_thumbnail.jpg" alt="Picture of Jonathan Salfen" class="img-responsive about-image">
				</div>
			</div>
			<div class="col-md-12">
				<div class="pad-me">
					<p class="paragraph">Hi there!<br><br>I'm a programmer living in Portland, Oregon.  Currently, I'm looking for a web development job or internship.    When I'm not writing or learning about code, I enjoy hiking, netflix, baking, biking, netflix, reading the internet, netflix, and netflix.  Please take a look at my resume to see what I'm good at and browse my portfolio to see some of my completed projects.  Also, I have a blog that details my journey as a programmer.  Thank you for visiting my site and please feel free to contact me for any reason.<br><br>Sincerely,<br>Jonathan Leslie Salfen</p>
				</div>
			</div>
			<div class="col-md-12">
				<div class="pad-me">
					<img src="/static/css/images/insta4_thumbnail.jpg" alt="Portland riverbank at Dawn" class="img-responsive about-image">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}