{% extends 'old_site/second_base.html' %}


{% block content %}
<div class="text-center">
	<div class="other-header">
		<div class ="jumbotron" style="height:300px">
			<p class="other-header">contact</p>
		</div>	
	</div>
</div>
<div class="my-body">
	<div class="container">


		<div class="col-md-12">

			<form class="app_description">
				<p class="paragraph">If you want to chat, e-mail me at jonathan.salfen@gmail.com</p>
				<div class="form-group">
					<label for="exampleInputEmail1">Email Jonathan Here:</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email address">
				</div>
				<textarea class="form-control" rows="5"></textarea>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}